{% extends "memory_module/base.html" %}

{% block extraheader %}
{% endblock %}

{% block content%}

  <main>
  
  <script type="text/javascript" >
  
 
  var m_files = [
          {% for key, value in m_items.items() %}
            { id :{{ key }}, answer: "{{ value['answer'] }}", question: "{{ value['question'] }}", comment_: "{{ value['comment_'] }}", m_group_id: "{{ value['m_group_id'] }}", 
			mg_name: "{{ value['mg_name'] }}"},
            
          {% endfor %}
          ];
          
  var m_files_d = m_files.slice();
  
	var cuid = m_files_d[0]["id"];
	var old_cuid = cuid;
	var failed_items = [];  // Track IDs of items that were failed
	var items_sent = false;  // Track if items have already been sent
	
  </script>
  <br>
  
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ url_for('memory_module.index') }}">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Game</li>
	  </ol>
	</nav>
	
  <div class="row g-5">

    <div class="col-md-12">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='brand/bootstrap-logo.svg') }}" alt="" width="72" height="57">
        <h2>Train Your Brain</h2>
			<span id="vari" data-value="3"></span>
        <br>
        <h3 id="naslov"> </h3>
        <p id="komentar"></p>
        <br>
        <div id="buttons" class="d-grid gap-2">
          <button id="bumg1" class="btn btn-danger" type="button" onclick="nePoznam()">NE poznam</button>
          <button id="bumg2" class="btn btn-success" type="button" onclick="poznam()">Poznam</button>
        </div>
        
      </div>
    </div>
    

	
  </div>
  </main>
  
<script type="text/javascript" >


function start_() {
	var first_ = m_files_d[0];
	var id_ = first_["id"];
	var question = first_["question"];
	var mg_name = first_["mg_name"];

	var result_naslov = document.getElementById("naslov");
	result_naslov.innerHTML = "<b>" + mg_name + "</b>" + ":<br>" + question;


	
}

function nePoznam() {
	// Track as failed if user didn't know it on first try
	if (cuid && failed_items.indexOf(cuid) === -1) {
		failed_items.push(cuid);
	}
	
nextPerson();
	var ime = "";
	for (i = 0; i < m_files_d.length; i++) {
		if (old_cuid == m_files_d[i]["id"]) {
			answer = m_files_d[i]["answer"] 
			
			var result_naslov = document.getElementById("naslov");
			result_naslov.innerHTML = answer;
			
			var opis = document.getElementById("komentar");
			opis.innerHTML = m_files_d[i]["comment_"];
			
			var gumb1 = document.getElementById("bumg1");
			gumb1.innerHTML = "Foreward";
			var gumb2 = document.getElementById("bumg2");
			gumb2.remove(); 
			
			gumb1.setAttribute("onclick", "naprej()");



		}
	}
	
}

function naprej() {
	var gumb1 = document.getElementById("bumg1");
	gumb1.innerHTML = "Don't know";
	var button_2 = document.createElement("button")
	button_2.setAttribute("class", "btn btn-success");
	button_2.setAttribute("id", "bumg2");
	button_2.setAttribute("onclick", "poznam()");
	button_2.textContent = "I know it";
	
	var gumbi = document.getElementById("buttons");
	var is_gumb2 = document.getElementById("bumg2");

	gumbi.appendChild(button_2);
	
	
	var ime = "";
	
	for (i = 0; i < m_files_d.length; i++) {
		if (cuid == m_files_d[i]["id"]) {
			
			console.log(m_files_d[i]);
			var person = m_files_d[i];
			
			var id_ = person["id"];
			var answer = person["answer"];
			var question = person["question"];
			var comment_ = person["comment_"];
			var mg_name = person["mg_name"];

			
			var result_naslov = document.getElementById("naslov");
			result_naslov.innerHTML = "<b>" + mg_name + "</b>" + ":<br>" + question;
			
			var opis = document.getElementById("komentar");
			opis.innerHTML = "";
			
			//cuid = id_;
			
			gumb1.setAttribute("onclick", "nePoznam()");
			break; 
			
			
		}
		
	}
	
}

function poznam() {
	var answer = "";
	for (i = 0; i < m_files_d.length; i++) {
		if (cuid == m_files_d[i]["id"]) {
			answer = m_files_d[i]["answer"] 
			
			var result_naslov = document.getElementById("naslov");
			result_naslov.innerHTML = answer;
			
			var comment_ = document.getElementById("komentar");
			comment_.innerHTML = m_files_d[i]["comment_"];
			
			var gumb1 = document.getElementById("bumg1");
			gumb1.innerHTML = "Fail :(";
			gumb1.setAttribute("onclick", "falil()");
			
			var gumb2 = document.getElementById("bumg2");
			gumb2.innerHTML = "I got it!";
			gumb2.setAttribute("onclick", "zadel()");
			
			
		}
	}
}

function falil() {
	// Add current item to failed list if not already there
	if (old_cuid && failed_items.indexOf(old_cuid) === -1) {
		failed_items.push(old_cuid);
	}
	
	nextPerson();
	var gumb2 = document.getElementById("bumg2");
	gumb2.remove(); 
	naprej();
}

function zadel() {
	var result_naslov = document.getElementById("naslov");
	var gumb1 = document.getElementById("bumg1");
	var gumb2 = document.getElementById("bumg2");
	
	if (m_files_d.length == 1) {
		// Remove the last item
		removePerson();
		
		// Game is finished - send failed items automatically
		sendFailedItems();
		
		result_naslov.innerHTML = "No more items";
		var comment_ = document.getElementById("komentar");
		comment_.innerHTML = "";
		gumb1.innerHTML = "Finish";
		gumb1.setAttribute("onclick", "koncaj()");
		gumb2.textContent = "Re-Do";
		gumb2.setAttribute("onclick", "ponovi()");
		
	} else {
		nextPerson();
		removePerson();

		gumb2.remove(); 
		naprej();
	}

}

function ponovi() {
	m_files_d = m_files;
	failed_items = [];  // Reset failed items when restarting
	items_sent = false;  // Reset sent flag when restarting
	var gumb2 = document.getElementById("bumg2");
	gumb2.remove(); 
	nextPerson();
	naprej();
}

// Function to send failed items to backend
function sendFailedItems() {
	// Only send if we have failed items and haven't sent them yet
	if (failed_items.length > 0 && !items_sent) {
		items_sent = true;  // Mark as sent to prevent duplicate sends
		$.ajax({
			url: "{{ url_for('memory_module.submit_failures') }}",
			method: "POST",
			contentType: "application/json",
			data: JSON.stringify({failed_ids: failed_items}),
			success: function(response) {
				console.log("Failed items submitted:", response);
			},
			error: function(xhr, status, error) {
				console.error("Error submitting failures:", error);
			}
		});
	}
}

function koncaj() {
	// Send failed items if not already sent
	sendFailedItems();
	
	window.location.href = "{{ url_for('memory_module.index') }}";
}

function nextPerson() {
	for (i = 0; i < m_files_d.length; i++) {
		if (cuid == m_files_d[i]["id"]) {	
			nextp = i + 1;
			if (nextp == m_files_d.length) {
				nextp = 0;
			}
			old_cuid = cuid;
			console.log("old: " + old_cuid);
			cuid = m_files_d[nextp]["id"];
			console.log("new: " + cuid);
			break;
		}
	}
}

function removePerson() {
	for (i = 0; i < m_files_d.length; i++) {
		if (old_cuid == m_files_d[i]["id"]) {	
			m_files_d.splice(i, 1);

		}
	}
}



// Send failed items when page is about to unload (user closes tab/browser)
window.addEventListener('beforeunload', function() {
	if (failed_items.length > 0 && !items_sent) {
		// Use synchronous request to ensure it completes before page unloads
		var xhr = new XMLHttpRequest();
		xhr.open('POST', "{{ url_for('memory_module.submit_failures') }}", false);  // false = synchronous
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.send(JSON.stringify({failed_ids: failed_items}));
	}
});

window.onload = function() {
    start_();
    
  }
  
</script>

{% endblock %}
