{% extends "memory_module/base.html" %}

{% block extraheader %}
{% endblock %}

{% block content%}

  <main>
  <br>
  <div class="row g-5">

    <div class="col-md-12">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='brand/bootstrap-logo.svg') }}" alt="" width="72" height="57">
        <h2>People INC</h2>

        
      </div>
    </div>
    <div class="d-grid gap-2">
	<ul class="nav nav-pills nav-justified">
	  <li class="nav-item">
	    <a class="nav-link active" aria-current="page" href="#">Main</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ url_for('memory_module.group_all') }}">Groups</a>
	  </li>
	</ul>
    </div>
    <div class="d-grid gap-2">
	  <a href="{{ url_for('memory_module.game', group_id=99999999) }}" class="btn btn-success" role="button" >Mixed</a>
	</div>

    <div i="list-group">
    {%- for i in Grp_.get_all() %}
	  <a href="{{ url_for('memory_module.game', group_id=i['id']) }}" class="list-group-item list-group-item-action list-group-item-success">{{ i['name'] }}</a>
	 {% endfor %}
	 </div>
	
  </div>
  <div class="d-grid gap-2">
    <a href="{{ url_for('main_page_module.index') }}" class="btn btn-warning btn-block" role="button" >Notes</a>
  </div>
  <a href="{{ url_for('memory_module.memory_import') }}">Import</a>
  </main>
{% endblock %}

