{% extends "main_page_module/base.html" %}

{% block extraheader %}
{% endblock extraheader  %}

{% block nav_all_users %}active{% endblock nav_all_users %}


{% macro render_field(field, placeholder=None) %}
<div class="form-group">
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}

    {{ field.label }}

    {% if field.errors %}
        {% set css_class = css_class + ' is-invalid' %}

        {% for error in field.errors %}
            
            <small id="{{ field.label.text }}" class="text-danger">
                {{ error }}
          </small>

        {% endfor %}
        </ul>
    {% endif %}

    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}


{% block content%}
<br>
<div class="container-fluid">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('main_page_module.index') }}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-md">
      

<h3>Access Groups</h3>

     <hr>

      <ul class="list-group">
        {% for g in GroupsAccessM.get_access_all_of_user(form.id.data)%}
        <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-danger">
          
          {{ g["name"] }}

        </span>
        </li>
        {% endfor %}
      </ul>


    </div>
    <div class="col-md-6">


      <legend>User</legend>

        <form method="POST" action="{{ url_for('main_page_module.user_profile_edit') }}" accept-charset="UTF-8" role="form">
          {{ form.csrf_token }}
          {{ form.id }}

          <div class="row">
            <div class="col-md-6">
              {{ render_field(form.name, autofocus="") }}
            </div>
            <div class="col-md-6">
              {{ render_field(form.username, disabled="disabled") }}
            </div>
          </div>

          {{ render_field(form.email) }}

          <div class="row">
            <div class="col-md-6">
              {{ render_field(form.password) }}
            </div>
            <div class="col-md-6">
              {{ render_field(form.password_2) }}
            </div>
          </div>
          
        {{ render_field(form.api_key) }}

          
          
          
          <div class="form-group">
            {{ form.submit(class="form-control btn btn-primary mb-2") }}
            </div>
        </form>

      <hr>

    </div>
    <div class="col-md">

      
      <h3>Fido2 Credentials</h3>

      <hr>
      <a href="{{ url_for('admin_module.user_register_fido') }}" class="btn btn-danger btn-block" role="button">Register Fido2 Login</a>
      <hr>

      {% set user_fido2s = UserM.get_all_fido2_of_u(form.id.data) %}

      <ul class="list-group">
        {% for i in user_fido2s %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ i["cred_id_bs64"][:10] }}...
          <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#{{ 'for_modal_cred' ~ i['cred_id_bs64'][:10] }}">Delete</button>

          <!-- Modal -->
          <div class="modal fade" id="{{ 'for_modal_cred' ~ i['cred_id_bs64'][:10] }}" tabindex="-1" role="dialog" aria-labelledby="{{ i['cred_id_bs64'][:10] ~ 'for_modal_credtext' }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="{{ i['cred_id_bs64'][:10] ~'for_modal_credtext' }}">Delete the Credential</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Do you really want to delete the fido2 credential {{ i['cred_id_bs64'] }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                  <form method="POST" action="{{ url_for('admin_module.user_delete_fibo2') }}" accept-charset="UTF-8" role="form">
                    <input type="hidden" id="cred_id_bs64" name="cred_id_bs64" value="{{ i['cred_id_bs64']}}">
                    <button type="submit" class="btn btn-danger">Delete Credential</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </li>
        {% endfor %}
      </ul>
        
    </div>
  </div>
  
</div>      
{% endblock content %}