{% extends "main_page_module/base.html" %}


{% block extraheader %}
{% endblock %}

{% block nav_new_note %}active{% endblock nav_new_note %}



{% block content%}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      
                

      {% macro render_field(field, placeholder=None) %}
      <div class="form-group">
          {% set css_class = 'form-control ' + kwargs.pop('class', '') %}

          {{ field.label }}

          {% if field.errors %}
              {% set css_class = css_class + ' is-invalid' %}

              {% for error in field.errors %}
                  
                  <small id="{{ field.label.text }}" class="text-danger">
                      {{ error }}
                </small>

              {% endfor %}
              </ul>
          {% endif %}

          {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
      </div>
      {% endmacro %}


    </div>
    <div class="col-md-10">
      <form method="POST" action="{{ url_for('main_page_module.change_note') }}" accept-charset="UTF-8" role="form">
        {{ form.csrf_token }}

        {{ form.id }}

        <br>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <input type="text" class="form-control " id="title" name="title" placeholder="Title" value="{{ note['title'] }}"  aria-describedby="titlenotehelp" required>
              <small id="titlenotehelp" class="form-text text-muted">Note title</small>
            </div>
          </div>
        
          <div class="col-md-4">
            {{ render_field(form.note_type) }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
              <div class="form-group">
              {{ form.relevant }} - Shown in index
              </div>
          </div>
  
          <div class="col-md-2">
              <div class="form-group">
              {{ form.pinned }} - Pinned?
              </div>
          </div>
          <div class="col-md-2">
            <a href="https://daringfireball.net/projects/markdown/syntax#list" target="_blank">> Syntax Help</a>
          </div>
          <div class="col-md-2">
           
          </div>
        </div>
        
        
        <div class="form-group">
            <textarea class="form-control " id="note_text" name="note_text" placeholder="Write what stuff" required rows="30">{{ note["text"] }}</textarea>
        </div>
        <div class="form-group">
          <style>
            #saveBtn {
              display: none; /* Hidden by default */
              position: fixed; /* Fixed/sticky position */
              bottom: 20px; /* Place the button at the bottom of the page */
              left: 30px; /* Place the button 30px from the right */
              z-index: 99; /* Make sure it does not overlap */
              border: none; /* Remove borders */
              outline: none; /* Remove outline */
              background-color: rgb(46, 182, 4); /* Set a background color */
              color: white; /* Text color */
              cursor: pointer; /* Add a mouse pointer on hover */
              padding: 15px; /* Some padding */
              border-radius: 50px; /* Rounded corners */
              font-size: 18px; /* Increase font size */
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        
            #mysaveBtnBtn:hover {
              background-color: rgb(195, 224, 189); /* Add a dark-grey background on hover */
            }
          </style>

          <button  id="saveBtn">Save</button>
          {{ form.submit(class="form-control btn btn-primary mb-2", value="Submit eddits") }}


          <script>
          //Get the button:
            mybutton = document.getElementById("saveBtn");
            mybutton.style.display = "block";
          </script>

        </div>
      </form>

    </div>
    
  </div>

  <div class="row">
    <div class="col-md-1"> 

    </div>
    <div class="col-md-10">
        <hr>
        <button class="btn btn-dark btn-block" type="button" data-toggle="collapse" data-target="#collapseTags" aria-expanded="false" aria-controls="collapseTags">
            Tags
          </button>
        <div class="collapse" id="collapseTags">
            <button class="btn btn-outline-success btn-block" title="Tag button" data-toggle="modal" data-target="#tagModal">Add Tags</button>
  
            <ul id="tags_list">
            {% for i in tags%}
              {% set tag_color = NotesS.list_tag_colors()[i["tag_color"]] %}
              {% if i["tag_color"] == 0 %}
                <li id="t{{ i["t_id"] }}"><span class="badge badge-pill badge-{{ tag_color }}">{{ i["tag_name"] }}</span>
                  <button type="button" id="{{ i['t_id'] }}" class="close" aria-label="Close" onclick="remove_tag(this.id)">
                    <span aria-hidden="true">&times;</span>
                  </button></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
  
       
      </div>
  </div>
  <br>


  <!-- Modal -->
  <div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Tags</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="input-group">
                <div class="input-group-append">
                  <select class="custom-select" id="choosen_tag">
                    {% for tag in all_tags %}
                      <option value="{{ tag["id"] }}">{{ tag["name"] }}</option>
                    {% endfor %}
                  </select>
                </div>
                <button type="button" class="form-control btn btn-outline-info" onclick="add_tag()">Add Tag</button>
              </div>
            <hr>
              <div class="form-group">
                <label for="notationName">Tag Name</label>
                <input type="text" class="form-control" id="tagName" placeholder="Tag name">
              </div>
              <div class="form-group">
                <label for="notationName">Tag Color</label>
                <select class="form-control" id="tagColor">
                  <option value="0" selected>Primary</option>
                  <option value="1">Secondary</option>
                  <option value="2">Success</option>
                  <option value="3">Danger</option>
                  <option value="4">Warning</option>
                  <option value="5">Info</option>
                  <option value="6">Light</option>
                  <option value="7">Dark</option>
                </select>
              </div>
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" onclick="create_tag()">Create and Add Tag</button>
          </div>
      </div>
    </div>
  </div>

  <script>

  function remove_tag(tag_id){
    var note_id = document.getElementById("id").value;

    $.post('/remove_tag/', {"note_id": note_id, "tag_id": tag_id}, function(data, textStatus) {
      //console.log(data["a"]);
      var snackbar = document.getElementById("snackbar");

      if (data["a"] != "-1"){
        //console.log(returned_data);
        snackbar.innerHTML = "Tag removed";
        var tag = document.getElementById("t" + tag_id);
        tag.remove()

      } else {
        snackbar.innerHTML = "Error while removing the tag";
      }

      show_snackbar();
      

    }, "json");

  };
    
  function create_tag(){
      var note_id = document.getElementById("id").value;
      var tagName = document.getElementById("tagName").value;
      var tagColor = document.getElementById("tagColor").value;

      $.post('/create_tag/', {"note_id": note_id, "tagName": tagName, "tagColor": tagColor}, function(data, textStatus) {
        //console.log(data["a"]);
        var snackbar = document.getElementById("snackbar");

        if (data["a"] != "no"){
          var returned_data = data["a"].split("++++__++++++");

          var color = ""
          switch(returned_data[1]) {
            case "0":
             color = "primary"
              break;
            case "1":
              color = "secondary"
              break;
            case "2":
              color = "success"
              break;
            case "3":
              color = "danger"
              break;
            case "4":
              color = "warning"
              break;
            case "5":
              color = "info"
              break;
            case "6":
              color = "light"
              break;
            case "7":
              color = "dark"
              break;
            default:
              color = "dark"
          } 

          
          //console.log(returned_data);
          snackbar.innerHTML = "Tag added - " + returned_data[0];

          var tags_list_div = document.getElementById("tags_list")

          var nel_list_thing = document.createElement("li")
          var tag_spant = document.createElement("span")
          tag_spant.setAttribute('class', "badge badge-pill badge-" + color );
          tag_spant.textContent = returned_data[0];

          nel_list_thing.appendChild(tag_spant);
          tags_list_div.appendChild(nel_list_thing);

        } else {
          snackbar.innerHTML = "Error while adding the Tag";
        }

        show_snackbar();
        

      }, "json");

    };

    function add_tag(){
      var note_id = document.getElementById("id").value;
      var tag_id = document.getElementById("choosen_tag").value;

      $.post('/add_tag/', {"note_id": note_id, "tag_id": tag_id}, function(data, textStatus) {
        //console.log(data["a"]);
        var snackbar = document.getElementById("snackbar");

        if (data["a"] != "no"){
          var returned_data = data["a"].split("++++__++++++");

          var color = ""
          switch(returned_data[1]) {
            case "0":
             color = "primary"
              break;
            case "1":
              color = "secondary"
              break;
            case "2":
              color = "success"
              break;
            case "3":
              color = "danger"
              break;
            case "4":
              color = "warning"
              break;
            case "5":
              color = "info"
              break;
            case "6":
              color = "light"
              break;
            case "7":
              color = "dark"
              break;
            default:
              color = "dark"
          } 

          
          //console.log(returned_data);
          snackbar.innerHTML = "Tag added - " + returned_data[0];

          var tags_list_div = document.getElementById("tags_list")

          var nel_list_thing = document.createElement("li")
          var tag_spant = document.createElement("span")
          tag_spant.setAttribute('class', "badge badge-pill badge-" + color );
          tag_spant.textContent = returned_data[0];

          nel_list_thing.appendChild(tag_spant);
          tags_list_div.appendChild(nel_list_thing);

        } else {
          snackbar.innerHTML = "Error while adding the Tag";
        }

        show_snackbar();
        

      }, "json");

    };
  
  </script>
  
  <style>
    #myBtn {
      display: none; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 20px; /* Place the button at the bottom of the page */
      right: 30px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: rgb(182, 4, 87); /* Set a background color */
      color: white; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 15px; /* Some padding */
      border-radius: 50px; /* Rounded corners */
      font-size: 18px; /* Increase font size */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #myBtn:hover {
      background-color: rgb(243, 178, 56); /* Add a dark-grey background on hover */
    }

    
  </style>

   <button  id="myBtn" title="Notation button" data-toggle="modal" data-target="#notationModal">Notation</button>
   <script>
   //Get the button:
   /*
    mybutton = document.getElementById("myBtn");
    mybutton.style.display = "block";
    */
   </script>

   

  <div id="snackbar">Notation added</div>

  <script>


      function show_snackbar() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
      }

    </script>

    <style>
     /* The snackbar - position it at the bottom and in the middle of the screen */
      #snackbar {
        visibility: hidden; /* Hidden by default. Visible on click */
        min-width: 250px; /* Set a default minimum width */
        margin-left: -125px; /* Divide value of min-width by 2 */
        background-color: #333; /* Black background color */
        color: #fff; /* White text color */
        text-align: center; /* Centered text */
        border-radius: 2px; /* Rounded borders */
        padding: 16px; /* Padding */
        position: fixed; /* Sit on top of the screen */
        z-index: 1; /* Add a z-index if needed */
        left: 50%; /* Center the snackbar */
        bottom: 30px; /* 30px from the bottom */
      }

      /* Show the snackbar when clicking on a button (class added with JavaScript) */
      #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }

      /* Animations to fade the snackbar in and out */
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }

      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }

      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }

      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
      </style>
{% endblock %}