{% extends "main_page_module/base.html" %}

{% block extraheader %}
<link rel="stylesheet" href="{{ url_for('static', filename='main_page_module/dist/easymde/easymde.min.css') }}">
<script src="{{ url_for('static', filename='main_page_module/dist/easymde/easymde.min.js') }}"></script>
{% endblock %}

{% block nav_new_note %}active{% endblock nav_new_note %}

{% block content %}

{% set tags = Tag.get_all_of_note(note_id) %}
{% set all_tags = Tag.get_all() %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">

      {% macro render_field(field, placeholder=None) %}
      <div class="mb-3">
        {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
        {{ field.label }}
        {% if field.errors %}
          {% set css_class = css_class + ' is-invalid' %}
          {% for error in field.errors %}
            <small class="text-danger d-block">{{ error }}</small>
          {% endfor %}
        {% endif %}
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
      </div>
      {% endmacro %}

    </div>
    <div class="col-md-10">
      <form method="POST" action="{{ url_for('notes_module.note_edit') }}" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.id }}
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{ note['title'] }}" required>
              <div class="form-text">Note title</div>
            </div>
          </div>
          <div class="col-md-3">{{ render_field(form.file_u) }}</div>
          <div class="col-md-3">{{ render_field(form.note_type) }}</div>
        </div>

        <div class="row mb-2">
          <div class="col-md-2">
            <div class="mb-3">{{ form.relevant }} – Shown in index</div>
          </div>
          <div class="col-md-2">
            <div class="mb-3">{{ form.pinned }} – Pinned?</div>
          </div>
          <div class="col-md-2">
            <a href="https://daringfireball.net/projects/markdown/syntax#list" target="_blank">&rsaquo; Syntax Help</a>
          </div>
        </div>

        <div class="mb-3">
          <textarea class="form-control" id="note_text" name="note_text" placeholder="Write what stuff" required rows="30">{{ note["text"] }}</textarea>
        </div>
        <div class="mb-3">
          {{ form.submit(class="form-control btn btn-dark mb-2", value="Submit edits") }}
        </div>
      </form>
    </div>
  </div>
</div>

<button class="rn-fab rn-fab-left" id="saveBtn" form="editForm" onclick="document.querySelector('form').submit()">Save</button>

<script>
var easymde = new EasyMDE({
  forceSync: true,
  indentWithTabs: false,
  promptURLs: true,
  spellChecker: false,
  tabSize: 4,
  element: document.getElementById("note_text")
});

window.addEventListener('load', function() {
  const pos = localStorage.getItem('scrollPosition');
  if (pos) {
    window.scrollTo(0, parseInt(pos, 10));
    localStorage.removeItem('scrollPosition');
  }
});
</script>

{% endblock %}
