{% extends "main_page_module/base.html" %}

{% block content %}
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-center">
      <h5>Options</h5>
      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#for_modal_delete_all">Delete all</button>

      <div class="modal fade" id="for_modal_delete_all" tabindex="-1" aria-labelledby="for_modal_delete_all_text" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="for_modal_delete_all_text">Delete All</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Delete All trashed notes?</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="{{ url_for('notes_module.notes_delete_all_trashed') }}" class="btn btn-danger">Delete All Notes</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <legend><span class="badge text-bg-danger">Trash</span> – All Notes</legend>
      <div id="all_entries" class="container">
        {% for i in notes %}
          {% set note_obj = N_obj(i["id"]) %}
          <hr>
          <div class="d-flex align-items-center">
            <div class="btn-group btn-group-sm me-3">
              <a href="{{ url_for('notes_module.note_view', note_id=i['id']) }}" class="btn btn-secondary">View Note</a>
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#{{ 'for_modal' ~ i['id'] }}">Delete</button>
              <a href="{{ url_for('notes_module.note_reactivate', note_id=i['id']) }}" class="btn btn-success">ReActivate</a>
              <span class="btn btn-outline-secondary disabled">{{ note_obj.type_clr[0] }}</span>
            </div>
            <div class="flex-grow-1">
              <h4 class="mt-0 mb-0">{{ i["title"] }}</h4>
            </div>
          </div>

          <div class="modal fade" id="{{ 'for_modal' ~ i['id'] }}" tabindex="-1" aria-labelledby="{{ i['id'] ~ 'for_modaltext' }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="{{ i['id'] ~ 'for_modaltext' }}">Delete the Note</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Do you really want to delete "{{ i["title"] }}"?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <form method="POST" action="{{ url_for('notes_module.note_delete') }}" accept-charset="UTF-8">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="id" value="{{ i['id'] }}">
                    <button type="submit" class="btn btn-danger">Delete Note</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <hr>
    </div>
    <div class="col-md-2"><!-- aside --></div>
  </div>
</div>
{% endblock content %}
