<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename=Randoms.icon_name(config)) }}">
    <link href="{{ url_for('static', filename='main_page_module/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='icons/bootstrap_icons/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page_module/dist/css/app.css') }}">
    {% block extraheader %}{% endblock extraheader %}
    <title>{{ config['APP_NAME'] }}</title>
  </head>
  <body>

{% set note_id = note["id"] %}
{% set note_o  = N_obj(note_id) %}
{% set text    = markdown2.markdown(note["text"]) %}
{% set tags_   = NotesS.list_tag_colors() %}

<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      {% if note["pinned"] == 1 %}
        <span class="badge text-bg-dark">Pinned</span>
      {% endif %}
      <legend>{{ note["title"] }}</legend>
      <hr>
      <div class="text-break rn-note-body">
        {{ Pylavor.clean_rich_text(text) | safe }}
      </div>
      <hr>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

    <script src="{{ url_for('static', filename='main_page_module/dist/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
