<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename=Randoms.icon_name(config)) }}">


    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='main_page_module/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <style>

#secretTextName {
      font-size: 28px;
      text-align: center;
  }

  #secretTextonetime {
      font-size: 20px;
      text-align: center;
  }
      
      #secretText {
        font-size: 24px;
        text-align: center;
        filter: blur(10px);
        transition: filter 0.5s ease;
      }

      #showButton {
          padding: 10px;
          font-size: 16px;
          cursor: pointer;
      }
    </style>


    <title>{{ config['APP_NAME'] }} - Secret</title>
  </head>


<body>

<br>
<br>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-6 mx-auto">
      <p id="secretTextName">{{ secret["secret_name"] }}</p>
      <p id="secretTextonetime">{% if secret["onetime_view"] == 1 %}WARNING!: This Secret will be available to you only this time. Next reload it will be gone.{% endif %}</p>
      <p id="secretText">{{ secret["secret"] }}</p>
      <button class="btn btn-success btn-block" onclick="revealSecret()">Show Secret</button>
    </div>

    <script>
      function revealSecret() {
          var secretText = document.getElementById('secretText');
          secretText.style.filter = 'blur(0)';
      }
    </script>

  </div>
</div>
</body>