{% extends "main_page_module/base.html" %}

{% block extraheader %}
{% endblock extraheader  %}



{% block content%}
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">

      <legend>Current Secrets</legend>

      <div class="card">
        <div class="card-body">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Secret Name</th>
                <th scope="col">Onetime View</th>
                <th scope="col">Expiry Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for _, values in secrets.items() %}
              <tr>
                <td>{{ values["secret_name"] }}</td>
                <td>{{ values["onetime_view"] }}</td>
                <td>{{ values["expiry_date"] }}</td>
                <td>
                  <div class="btn-group btn-block" role="group">
                    <a class="btn btn-primary btn-block" href="{{ url_for('main_page_module.user_edit', user_id=values['id']) }}" role="button">View Secret</a>
                    <a class="btn btn-danger" href="{{ url_for('main_page_module.user_edit', user_id=values['id']) }}" role="button">Delete</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
              {% if secrets|length == 0 %}
                <tr>
                  <td>No secrets currently in the system
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>

        </div>
      </div>

      
        

    </div>
    <div class="col-md-5">
      <div class="row">
        <legend>New Secret</legend>

        <div class="col-md-8">

          <div class="form-group">
            <label for="name">Secret Name</label>

            <input autofocus="" class="form-control" id="secret_name" name="secret_name" required type="text">
          </div>

          <div class="form-group">
            <label for="name">Secret Value</label>

            <input class="form-control" id="secret" name="secret" required type="text">
          </div>

          <div class="form-group">
            <label for="name">Secret Life</label>

            <select class="form-control" id="expiry_date">
              <option selected value="1">One hour</option>
              <option value="2">8 hours</option>
              <option value="3">One day</option>
              <option value="4">One week</option>
              <option value="5">One Month</option>
            </select>
          </div>

          <div class="form-group">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                  <label for="name">One Time View</label>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="onetime_view" checked>
                    <label class="form-check-label" for="onetime_view">
                      User can load the secret only one time
                    </label>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button type="button" id="add_secret" class="btn btn-success btn-lg btn-block">Add Secret</button>
          </div>

        </div>
      </div>
      
      
    </div>

  </div>

</div>

<script>
  async function create_new_secret() {

    var secret_name = document.getElementById("secret_name");
    var secret = document.getElementById("secret");
    var expiry_date = document.getElementById("expiry_date");
    var onetime_view = document.getElementById("onetime_view");

    var secret_nameValue = secret_name.value.trim();
    var secretValue = secret.value.trim();
    var expiry_dateValue = expiry_date.value.trim();
    var onetime_viewValue = onetime_view.checked;;

    if (secret_nameValue === "") {
        alert("Secret Name Needed");
        secret_name.focus();

        return;
    }

    if (secretValue === "") {
        alert("Secret Needed");
        secret.focus();

        return;
    }

    if (expiry_dateValue === "") {
        alert("Secret Expiry Date Needed");
        expiry_date.focus();

        return;
    }

    if (onetime_viewValue) {
      onetime_viewValue = 1;
    } else {
      onetime_viewValue = 0;
    }

    var dictionary = {
      'secret_name': secret_nameValue,
      'secret_string': secretValue,
      "expiry_date": expiry_dateValue,
      "onetime_view": onetime_viewValue
    };

    sendJsonNewSecrt(dictionary);
  }

  function sendJsonNewSecrt(jsonData) {
    //console.log(jsonData);

    fetch('create', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsonData)
    })
    .then(response => response.json())
    .then(data => {
        alert(data["message"]);
        console.log('Response from server:', data);
        window.location.href = "{{ url_for('secrets_module.secrets_all') }}";
    })
    .catch(error => {
        console.error('Error:', error);
    });
  }


  const button = document.getElementById("add_secret");
  button.addEventListener("click", create_new_secret)

</script>
{% endblock content %}
