{% extends "main_page_module/base.html" %}

{% block nav_index %}active{% endblock nav_index %}

{% block content %}
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

      <div class="card text-white bg-dark mb-3">
        <div class="card-header">Pinned Notes</div>
        {% for note in pinned_notes %}
          {% set note_obj = N_obj(note["id"]) %}
          <a href="{{ url_for('notes_module.note_view', note_id=note['id']) }}" class="text-decoration-none text-white">
            <div class="d-flex rn-note-item p-2">
              {% if note_obj.note_type != 0 %}
                <span class="badge text-bg-{{ note_obj.type_clr[1] }} align-self-start me-1">{{ note_obj.type_clr[0] }}</span>
              {% endif %}
              <img class="align-self-center me-2" src="/static/icons/pinned.svg" height="32" width="32">
              <div class="flex-grow-1 text-break">
                <h6 class="mt-0">{{ note['title'] }}
                  {% for i in Tag.get_all_of_note(note['id']) %}
                    {% set tag_color = NotesS.list_tag_colors()[i["tag_color"]] %}
                    <span class="badge rounded-pill text-bg-{{ tag_color }}">{{ i["tag_name"] }}</span>
                  {% endfor %}
                </h6>
                <p class="mb-0">{{ note['text'] }} ...</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>

    </div>
    <div class="col-md-8">
      <div class="row">
        {% for note in notes %}
        <div class="col-md-4">
          {% set note_obj = N_obj(note["id"]) %}
          <a href="{{ url_for('notes_module.note_view', note_id=note['id']) }}" class="rn-note-link">
            <div class="d-flex rn-note-card p-2">
              {% if note_obj.note_type != 0 %}
                <span class="badge text-bg-{{ note_obj.type_clr[1] }} align-self-start me-1">{{ note_obj.type_clr[0] }}</span>
              {% endif %}
              <img class="align-self-center me-2" src="/static/icons/note.svg" height="32" width="32">
              <div class="flex-grow-1 text-break">
                <h6 class="mt-0">{{ note['title'] }}
                  {% for i in Tag.get_all_of_note(note['id']) %}
                    {% set tag_color = NotesS.list_tag_colors()[i["tag_color"]] %}
                    <span class="badge rounded-pill text-bg-{{ tag_color }}">{{ i["tag_name"] }}</span>
                  {% endfor %}
                </h6>
                <p class="mb-0 text-break">{{ note['text'] }} ...</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-2">

      <div class="card mb-3">
        <div class="card-header">Recently Viewed Notes</div>
        {% for note in Notes.get_recent_all() %}
          {% set note_obj = N_obj(note["id"]) %}
          <a href="{{ url_for('notes_module.note_view', note_id=note['id']) }}" class="rn-note-link">
            <div class="d-flex rn-note-item p-2">
              {% if note_obj.note_type != 0 %}
                <span class="badge text-bg-{{ note_obj.type_clr[1] }} align-self-start me-1">{{ note_obj.type_clr[0] }}</span>
              {% endif %}
              <img class="align-self-center me-2" src="/static/icons/pinned.svg" height="32" width="32">
              <div class="flex-grow-1 text-break">
                <h6 class="mt-0">{{ note['title'] }}
                  {% for i in Tag.get_all_of_note(note['id']) %}
                    {% set tag_color = NotesS.list_tag_colors()[i["tag_color"]] %}
                    <span class="badge rounded-pill text-bg-{{ tag_color }}">{{ i["tag_name"] }}</span>
                  {% endfor %}
                </h6>
                <p class="mb-0">{{ note['text'] }} ...</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>

    </div>
  </div>
</div>
{% endblock content %}
