{% extends "main_page_module/base.html" %}

{% block notes_import %}active{% endblock notes_import %}

{% block content %}
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"><!-- aside --></div>
    <div class="col-md-10">

      {% macro render_field(field, placeholder=None) %}
      <div class="mb-3">
        {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
        {{ field.label }}
        {% if field.errors %}
          {% set css_class = css_class + ' is-invalid' %}
          {% for error in field.errors %}
            <small class="text-danger d-block">{{ error }}</small>
          {% endfor %}
        {% endif %}
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
      </div>
      {% endmacro %}

      <legend>Import Notes</legend>
      <form method="POST" action="{{ url_for('admin_module.notes_import') }}" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ render_field(form.import_file) }}
        <div class="mb-3">
          {{ form.submit(class="form-control btn btn-primary mb-2") }}
        </div>
      </form>

    </div>
    <div class="col-md-1"><!-- aside --></div>
  </div>
</div>
{% endblock %}
