{% extends "main_page_module/base.html" %}

{% block nav_new_tmpl %}active{% endblock nav_new_tmpl %}

{% block content %}
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md text-center">
      <h5>Options</h5>
      <a href="{{ url_for('notes_module.tmpl_new') }}" class="btn btn-success w-100">New Template</a>
    </div>
    <div class="col-md-6">
      <legend>All Templates</legend>
      <div id="all_entries" class="container">
        {% for i in tmpls %}
        <div class="d-flex rn-note-card p-2">
          <div class="btn-group btn-group-sm align-self-center me-3">
            <a href="{{ url_for('notes_module.tmpl_edit', tmpl_id=i['id']) }}" class="btn btn-warning">Edit Template</a>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#{{ 'for_modal' ~ i['id'] }}">Delete</button>
          </div>
          <div class="flex-grow-1">
            <h6 class="mt-0 mb-0">{{ i["name"] }}</h6>
          </div>
        </div>

        <div class="modal fade" id="{{ 'for_modal' ~ i['id'] }}" tabindex="-1" aria-labelledby="{{ i['id'] ~ 'for_modaltext' }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="{{ i['id'] ~ 'for_modaltext' }}">Delete Template</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Do you really want to delete the template "{{ i["name"] }}"?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('notes_module.tmpl_delete', tmpl_id=i['id']) }}" class="btn btn-danger">Delete Template</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <hr>
    </div>
    <div class="col-md"><!-- aside --></div>
  </div>
</div>
{% endblock content %}
