{% extends "main_page_module/base.html" %}

{% block nav_new_tmpl %}active{% endblock nav_new_tmpl %}

{% block content %}
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"><!-- aside --></div>
    <div class="col-md-10">

      {% macro render_field(field, placeholder=None) %}
      <div class="mb-3">
        {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
        {{ field.label }}
        {% if field.errors %}
          {% set css_class = css_class + ' is-invalid' %}
          {% for error in field.errors %}
            <small class="text-danger d-block">{{ error }}</small>
          {% endfor %}
        {% endif %}
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
      </div>
      {% endmacro %}

      <legend>Edit Template</legend>
      <a href="https://daringfireball.net/projects/markdown/syntax#list" target="_blank">&rsaquo; Syntax Help</a>

      <form method="POST" action="{{ url_for('notes_module.tmpl_edit') }}" accept-charset="UTF-8">
        {{ form.csrf_token }}
        {{ form.id }}
        <div class="row">
          <div class="col-md-8">{{ render_field(form.name, placeholder="Template name", autofocus="") }}</div>
        </div>
        <div class="row">
          <div class="col-md-12">{{ render_field(form.text_, placeholder="Template body", rows='20') }}</div>
        </div>
        <div class="mb-3">
          {{ form.submit(class="form-control btn btn-dark mb-2") }}
        </div>
      </form>

    </div>
    <div class="col-md-1"><!-- aside --></div>
  </div>
</div>
{% endblock %}
